html
  head
    script(src="/d3/d3.min.js")
    script(src="/remarkable/dist/remarkable.js")  
    script(src="/socket.io/socket.io.js")  
    script(src="/immutable.min.js")  
    script(src="/ripple.js")  
    script utils('attr', 'once')
  body
    input(data="markdown-data", is="markdown-editor", value="# Heh\r\nJigga what?")
    markdown-preview(style='width: 200px; height: 200px; right: 0; left: initial').
      # Foo

      Bar
